.disciplines {
  white-space: nowrap;
  min-height: 22px;
}

.disciplines span {
  display: inline-block;
  margin-right: 5px;
}

.disciplines span img,
.disciplines span svg {
  width: 16px;
  height: 16px;
  vertical-align: sub;
}

.disciplines span span {
  line-height: 20px;
  font-weight: 100;
  font-size: 13px;
}
