.container {
  max-width: 1200px;
  margin: auto;
  opacity: 0;
  transition: opacity 0s;
  margin-top: var(--header-height);
}

.lightsOn {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

@media(max-width: 750px) {
  .container {
    padding: 0;
  }
}
